<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>友達リスト</title>
    <style>
        .center-text {
            text-align: center;
        }
        .card-img-top {
            width: 50%;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
    <script>
        function confirmAction(message, url, method = 'GET') {
            if (confirm(message)) {
                fetch(url, { method: method })
                    .then(response => {
                        if (!response.ok) {
                            if (method === 'GET') {
                                return response.text().then(text => { throw new Error(text) });
                            } else {
                                throw new Error('Network response was not ok');
                            }
                        }
                        return method === 'GET' ? response.text() : response.json();
                    })
                    .then(data => {
                        console.log(data);
                        if (method === 'GET') {
                            window.location.href = url;
                        } else if (data.message) {
                            alert(data.message);
                        } else {
                            alert('処理が完了しました。');
                        }
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                        alert('エラーが発生しました: ' + error.message);
                    });
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">メニュー</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="confirmAction('一斉アンケート依頼を送信しますか？', '/line_broadcast_send', 'POST')">一斉アンケート依頼</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="confirmAction('全データをダウンロードしますか？', '/all_data_download')">全データダウンロード</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="confirmAction('データクレンジングを実行しますか？', '/data_creansing', 'POST')">データクレンジング</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            {% for friend in friend_list %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4">
                    <div class="card-body center-text">
                        {# keys = ["userId", "displayName", "pictureUrl", "statusMessage", "language"] #}
                        <h5 class="card-title">{{ friend["displayName"] }}</h5>
                        <p class="card-text" style="font-size: small;">{{ friend["statusMessage"] if friend["statusMessage"] else "<ステータスメッセージ未設定>" }}</p>
                        <img src="{{ friend["pictureUrl"] }}" class="card-img-top" alt="プロフィール画像">
                        <p class="card-text">使用言語: {{ friend["language"] }}</p>
                        <a href="/interview_history?userId={{ friend["userId"] }}&displayName={{ friend["displayName"] }}" class="btn btn-primary">インタビュー履歴</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>